@media screen and (max-width: 600px) {
	header .ff h2 {
		display: none;
	}
}

#root > header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #020202;
	overflow-y: hidden;
	transition: 0.2s;
    z-index: 9;
	height: 3.2rem;
}

#root > header.hidden {
	top: -3.2rem;	
}
